<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Off"
      internalLogFile="${basedir}\logs\internal-nlog.txt">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets async="false">
    <target xsi:type="File" name="File"
            layout="${longdate:universalTime=true} ${threadid:padding=4} ${level:uppercase=true:padding=5} - ${message} ${exception:format=stacktrace:separator=*"
            filename="${basedir}\logs\${shortdate:cached=true}.log"
            concurrentWrites="true" createDirs="true" autoFlush="true"
            maxArchiveFiles="10" archiveAboveSize="1048576" maxArchiveDays="14"/>
    <target name="console" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
            layout="${date:format=HH\:mm\:ss.fff} | ${pad:padding=5:inner=${level:uppercase=true}} | ${message}" >
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Cyan" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>
  </targets>
  <rules>
    <logger name="System.*" finalMinLevel="Warn" />
    <logger name="Microsoft.*" finalMinLevel="Warn" />
    <logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info" />
    <logger name="*" minlevel="Info" writeTo="File" />
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>
